web/public/templates/agents/en-US/customer-signal-triage-workflow.yml
---
kind: app
version: 1.0.0
exported_from: zgi
exported_at: '2026-05-15T00:00:00Z'
app:
  name: Customer Signal Triage
  description: Classify customer feedback, detect urgency, and generate a response
    brief.
  icon: '{"icon":"CS","icon_background":"#db2777"}'
  icon_type: text
  mode: WORKFLOW
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    opening_statement_type: slogan
    opening_slogan: ''
    opening_statement: ''
    opening_statement_enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      voice: ''
      language: ''
    speech_to_text:
      enabled: false
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    conversation_history:
      enabled: false
      history_window_size: 6
    file_upload:
      enabled: false
      allowed_file_types:
      - image
      - document
      allowed_file_extensions:
      - jpg
      - jpeg
      - png
      - gif
      - webp
      - pdf
      - doc
      - docx
      - txt
      - md
      - csv
      - xlsx
      allowed_file_upload_methods:
      - local_file
      - remote_url
      number_limits: 5
    webapp_workflow_config:
      allow_view_run_detail: true
      auto_expand_run_detail: false
  graph:
    nodes:
    - id: note_runtime_guide
      type: note
      position:
        x: 80
        y: 40
      width: 520
      height: 240
      data:
        type: note
        title: Run guide
        desc: ''
        text: |-
          Run guide

          Ready. Requires: OpenAI gpt-5.5 model. Enter customer feedback to classify severity and generate a response brief.

          Suggested test input:
          The Start node fields are prefilled. Open Debug and run the defaults directly.
          Example:
          - Customer feedback: Customer says the latest invoice is incorrect, the renewal deadline is tomorrow, and they need support to confirm the contract owner today.

          This note is documentation only and is not executed.
        theme: blue
        isInLoop: false
        isInIteration: false
    - id: start_node
      type: custom
      position:
        x: 80
        y: 280
      width: 280
      height: 88
      data:
        type: start
        title: Start
        desc: Agent start node
        variables:
        - type: paragraph
          variable: input
          label: Customer feedback
          required: true
          max_length: 8192
          default: Customer says the latest invoice is incorrect, the renewal deadline
            is tomorrow, and they need support to confirm the contract owner today.
        unique: true
        isInLoop: false
        isInIteration: false
    - id: triage_llm
      type: custom
      position:
        x: 420
        y: 280
      width: 280
      height: 92
      data:
        type: llm
        title: Classify Signal
        desc: ''
        variables: []
        model:
          provider: openai
          name: gpt-5.5
          mode: chat
          completion_params:
            response_format: json_object
        prompt_template:
        - role: system
          text: Classify customer feedback. Return JSON with sentiment, severity,
            topic, and recommended_action.
        - role: user
          text: "{{#start_node.input#}}"
        prompt_config:
          jinja2_variables: []
        vision:
          enabled: false
        structured_output_enabled: false
        reasoning_format: tagged
        isInLoop: false
        isInIteration: false
    - id: triage_parser
      type: custom
      position:
        x: 740
        y: 280
      width: 280
      height: 92
      data:
        type: json-parser
        title: Parse Signal
        desc: ''
        input_selector:
        - triage_llm
        - text
        is_flatten_output: true
        outputs:
          sentiment:
            type: string
          severity:
            type: string
          topic:
            type: string
          recommended_action:
            type: string
        error_strategy: default-value
        default_value:
        - key: sentiment
          type: string
          value: ''
        - key: severity
          type: string
          value: ''
        - key: topic
          type: string
          value: ''
        - key: recommended_action
          type: string
          value: ''
        retry_config:
          enable: false
          max_times: 3
          interval: 1000
        isInLoop: false
        isInIteration: false
    - id: severity_branch
      type: custom
      position:
        x: 1040
        y: 280
      width: 280
      height: 92
      data:
        type: if-else
        title: Severity Branch
        desc: ''
        cases:
        - case_id: high
          conditions:
          - id: condition_severity
            key: severity
            variable_selector:
            - triage_parser
            - severity
            comparison_operator: contains
            value: high
            varType: string
          logical_operator: and
        targetBranches:
        - id: high
          name: High Severity
        - id: 'false'
          name: ELSE
    - id: urgent_llm
      type: custom
      position:
        x: 1360
        y: 160
      width: 280
      height: 92
      data:
        type: llm
        title: Urgent Brief
        desc: ''
        variables: []
        model:
          provider: openai
          name: gpt-5.5
          mode: chat
          completion_params: {}
        prompt_template:
        - role: system
          text: Write an urgent response brief with owner, customer impact, and immediate
            action.
        - role: user
          text: 'Topic: {{#triage_parser.topic#}}\nAction: {{#triage_parser.recommended_action#}}'
        prompt_config:
          jinja2_variables: []
        vision:
          enabled: false
        structured_output_enabled: false
        reasoning_format: tagged
        isInLoop: false
        isInIteration: false
    - id: routine_llm
      type: custom
      position:
        x: 1360
        y: 420
      width: 280
      height: 92
      data:
        type: llm
        title: Routine Brief
        desc: ''
        variables: []
        model:
          provider: openai
          name: gpt-5.5
          mode: chat
          completion_params: {}
        prompt_template:
        - role: system
          text: Write a routine response brief with customer-facing summary and follow-up.
        - role: user
          text: 'Topic: {{#triage_parser.topic#}}\nAction: {{#triage_parser.recommended_action#}}'
        prompt_config:
          jinja2_variables: []
        vision:
          enabled: false
        structured_output_enabled: false
        reasoning_format: tagged
        isInLoop: false
        isInIteration: false
    - id: urgent_end
      type: custom
      position:
        x: 1700
        y: 160
      width: 280
      height: 64
      data:
        type: end
        title: End
        desc: ''
        outputs:
        - variable: brief
          type: string
          value_selector:
          - urgent_llm
          - text
        isInLoop: false
        isInIteration: false
    - id: routine_end
      type: custom
      position:
        x: 1700
        y: 420
      width: 280
      height: 64
      data:
        type: end
        title: End
        desc: ''
        outputs:
        - variable: brief
          type: string
          value_selector:
          - routine_llm
          - text
        isInLoop: false
        isInIteration: false
    edges:
    - id: start_node-source-triage_llm
      source: start_node
      target: triage_llm
      sourceHandle: source
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    - id: triage_llm-source-triage_parser
      source: triage_llm
      target: triage_parser
      sourceHandle: source
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    - id: triage_parser-source-severity_branch
      source: triage_parser
      target: severity_branch
      sourceHandle: source
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    - id: severity_branch-high-urgent_llm
      source: severity_branch
      target: urgent_llm
      sourceHandle: high
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    - id: severity_branch-false-routine_llm
      source: severity_branch
      target: routine_llm
      sourceHandle: 'false'
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    - id: urgent_llm-source-urgent_end
      source: urgent_llm
      target: urgent_end
      sourceHandle: source
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    - id: routine_llm-source-routine_end
      source: routine_llm
      target: routine_end
      sourceHandle: source
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    viewport:
      x: 0
      y: 0
      zoom: 0.8
