web/public/templates/agents/en-US/daily-operations-digest-workflow.yml
---
kind: app
version: 1.0.0
exported_from: zgi
exported_at: '2026-05-15T00:00:00Z'
app:
  name: Daily Operations Digest
  description: Use the current time and topic context to create an executive daily
    brief.
  icon: '{"icon":"OD","icon_background":"#16a34a"}'
  icon_type: text
  mode: WORKFLOW
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    opening_statement_type: slogan
    opening_slogan: ''
    opening_statement: ''
    opening_statement_enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      voice: ''
      language: ''
    speech_to_text:
      enabled: false
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    conversation_history:
      enabled: false
      history_window_size: 6
    file_upload:
      enabled: false
      allowed_file_types:
      - image
      - document
      allowed_file_extensions:
      - jpg
      - jpeg
      - png
      - gif
      - webp
      - pdf
      - doc
      - docx
      - txt
      - md
      - csv
      - xlsx
      allowed_file_upload_methods:
      - local_file
      - remote_url
      number_limits: 5
    webapp_workflow_config:
      allow_view_run_detail: true
      auto_expand_run_detail: false
  graph:
    nodes:
    - id: note_runtime_guide
      type: note
      position:
        x: 80
        y: 40
      width: 520
      height: 240
      data:
        type: note
        title: Run guide
        desc: ''
        text: |-
          Run guide

          Ready. Requires: OpenAI GPT-4o model. Enter a briefing topic; the built-in time tool adds current time.

          Suggested test input:
          The Start node fields are prefilled. Open Debug and run the defaults directly.
          Example:
          - Brief topic: Summarize today's customer support risks for the enterprise account team.

          This note is documentation only and is not executed.
        theme: blue
        isInLoop: false
        isInIteration: false
    - id: start_node
      type: custom
      position:
        x: 80
        y: 280
      width: 280
      height: 88
      data:
        type: start
        title: Start
        desc: Agent start node
        variables:
        - type: paragraph
          variable: topic
          label: Brief topic
          required: true
          max_length: 8192
          default: Summarize today's customer support risks for the enterprise account
            team.
        unique: true
        isInLoop: false
        isInIteration: false
    - id: time_node
      type: custom
      position:
        x: 420
        y: 280
      width: 280
      height: 92
      data:
        type: tools
        title: Current Time
        desc: ''
        provider_id: time
        provider_type: builtin
        tool_name: current_time
        tool_parameters:
          format:
            type: constant
            value: "%Y-%m-%d %H:%M:%S"
          timezone:
            type: constant
            value: Asia/Shanghai
        isInLoop: false
        isInIteration: false
    - id: llm_node
      type: custom
      position:
        x: 760
        y: 280
      width: 280
      height: 92
      data:
        type: llm
        title: Daily Digest
        desc: ''
        variables: []
        model:
          provider: openai
          name: gpt-4o
          mode: chat
          completion_params: {}
        prompt_template:
        - role: system
          text: Create an executive daily operations digest with current time, latest
            context, impact, and recommended action.
        - role: user
          text: |-
            Current time: {{#time_node.text#}}
            Topic: {{#start_node.topic#}}
        prompt_config:
          jinja2_variables: []
        vision:
          enabled: false
        structured_output_enabled: false
        reasoning_format: tagged
        isInLoop: false
        isInIteration: false
    - id: end_node
      type: custom
      position:
        x: 1100
        y: 280
      width: 280
      height: 64
      data:
        type: end
        title: End
        desc: ''
        outputs:
        - variable: digest
          type: string
          value_selector:
          - llm_node
          - text
        isInLoop: false
        isInIteration: false
    edges:
    - id: start_node-source-time_node
      source: start_node
      target: time_node
      sourceHandle: source
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    - id: time_node-source-llm_node
      source: time_node
      target: llm_node
      sourceHandle: source
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    - id: llm_node-source-end_node
      source: llm_node
      target: end_node
      sourceHandle: source
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    viewport:
      x: 0
      y: 0
      zoom: 0.8
