web/public/templates/agents/en-US/file-translation-chatflow.yml
---
kind: app
version: 1.0.0
exported_from: zgi
exported_at: '2026-05-15T00:00:00Z'
app:
  name: Controlled File Translation
  description: Translate file content with terminology control and review notes.
  icon: '{"icon":"FT","icon_background":"#d97706"}'
  icon_type: text
  mode: CONVERSATIONAL_WORKFLOW
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    opening_statement_type: slogan
    opening_slogan: ''
    opening_statement: ''
    opening_statement_enabled: false
    suggested_questions:
    - "Translate the uploaded file into Chinese with a formal business tone, and flag terms that need human confirmation."
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      voice: ''
      language: ''
    speech_to_text:
      enabled: false
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    conversation_history:
      enabled: true
      history_window_size: 6
    file_upload:
      enabled: true
      allowed_file_types:
      - image
      - document
      allowed_file_extensions:
      - jpg
      - jpeg
      - png
      - gif
      - webp
      - pdf
      - doc
      - docx
      - txt
      - md
      - csv
      - xlsx
      allowed_file_upload_methods:
      - local_file
      - remote_url
      number_limits: 5
    webapp_workflow_config:
      allow_view_run_detail: true
      auto_expand_run_detail: false
  graph:
    nodes:
    - id: note_runtime_guide
      type: note
      position:
        x: 80
        y: 40
      width: 520
      height: 240
      data:
        type: note
        title: Run guide
        desc: ''
        text: |-
          Run guide

          Ready. Requires: OpenAI GPT-4o model, file input. Run after uploading files or providing file content.

          Suggested test input:
          Type this in the debug chat:
          Translate the uploaded file into Chinese with a formal business tone, and flag terms that need human confirmation.
          If the flow uses files, upload one sample file first.
          You can also click the suggested question to start debugging.

          This note is documentation only and is not executed.
        theme: blue
        isInLoop: false
        isInIteration: false
    - id: start_node
      type: custom
      position:
        x: 80
        y: 280
      width: 280
      height: 88
      data:
        type: start
        title: Start
        desc: Agent start node
        variables: []
        unique: true
        isInLoop: false
        isInIteration: false
    - id: doc_extract_node
      type: custom
      position:
        x: 420
        y: 280
      width: 280
      height: 92
      data:
        type: document-extractor
        title: Document Extractor
        desc: ''
        variable_selector:
        - sys
        - files
        is_array_file: true
        isInLoop: false
        isInIteration: false
    - id: llm_node
      type: custom
      position:
        x: 760
        y: 280
      width: 280
      height: 92
      data:
        type: llm
        title: Controlled Translation
        desc: ''
        variables: []
        model:
          provider: openai
          name: gpt-4o
          mode: chat
          completion_params: {}
        prompt_template:
        - role: system
          text: Translate the extracted content. Preserve terminology, names, numbers,
            and formatting notes. Add reviewer notes for ambiguous terms.
        - role: user
          text: |-
            User request:
            {{#sys.query#}}

            Extracted files:
            {{#doc_extract_node.text#}}
        prompt_config:
          jinja2_variables: []
        vision:
          enabled: false
        structured_output_enabled: false
        reasoning_format: tagged
        isInLoop: false
        isInIteration: false
    - id: answer_node
      type: custom
      position:
        x: 1100
        y: 280
      width: 280
      height: 88
      data:
        type: answer
        title: Answer
        desc: ''
        variables: []
        answer: "{{#llm_node.text#}}"
        isInLoop: false
        isInIteration: false
    edges:
    - id: start_node-source-doc_extract_node
      source: start_node
      target: doc_extract_node
      sourceHandle: source
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    - id: doc_extract_node-source-llm_node
      source: doc_extract_node
      target: llm_node
      sourceHandle: source
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    - id: llm_node-source-answer_node
      source: llm_node
      target: answer_node
      sourceHandle: source
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    viewport:
      x: 0
      y: 0
      zoom: 0.8
