web/public/templates/agents/en-US/parameter-capture-workflow.yml
---
kind: app
version: 1.0.0
exported_from: zgi
exported_at: '2026-05-15T00:00:00Z'
app:
  name: Parameter Capture
  description: Extract business parameters from a request before executing the next
    step.
  icon: '{"icon":"PC","icon_background":"#be123c"}'
  icon_type: text
  mode: WORKFLOW
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    opening_statement_type: slogan
    opening_slogan: ''
    opening_statement: ''
    opening_statement_enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      voice: ''
      language: ''
    speech_to_text:
      enabled: false
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    conversation_history:
      enabled: false
      history_window_size: 6
    file_upload:
      enabled: false
      allowed_file_types:
      - image
      - document
      allowed_file_extensions:
      - jpg
      - jpeg
      - png
      - gif
      - webp
      - pdf
      - doc
      - docx
      - txt
      - md
      - csv
      - xlsx
      allowed_file_upload_methods:
      - local_file
      - remote_url
      number_limits: 5
    webapp_workflow_config:
      allow_view_run_detail: true
      auto_expand_run_detail: false
  graph:
    nodes:
    - id: note_runtime_guide
      type: note
      position:
        x: 80
        y: 40
      width: 520
      height: 240
      data:
        type: note
        title: Run guide
        desc: ''
        text: |-
          Run guide

          Ready. Requires: OpenAI gpt-5.5 model. Enter a business request; the parameter extractor returns account and priority fields.

          Suggested test input:
          The Start node fields are prefilled. Open Debug and run the defaults directly.
          Example:
          - Business request: Create a renewal task for Acme Analytics, due next Friday, owner Mia Chen, priority high, and include the note: confirm updated seat count.

          This note is documentation only and is not executed.
        theme: blue
        isInLoop: false
        isInIteration: false
    - id: start_node
      type: custom
      position:
        x: 80
        y: 280
      width: 280
      height: 88
      data:
        type: start
        title: Start
        desc: Agent start node
        variables:
        - type: paragraph
          variable: input
          label: Business request
          required: true
          max_length: 8192
          default: 'Create a renewal task for Acme Analytics, due next Friday, owner
            Mia Chen, priority high, and include the note: confirm updated seat count.'
        unique: true
        isInLoop: false
        isInIteration: false
    - id: parameter_node
      type: custom
      position:
        x: 480
        y: 280
      width: 280
      height: 92
      data:
        type: parameter-extractor
        title: Parameter Extractor
        desc: ''
        query:
        - start_node
        - input
        model:
          provider: openai
          name: gpt-5.5
          mode: chat
          completion_params: {}
        reasoning_mode: prompt
        vision:
          enabled: false
          configs:
            detail: high
            variable_selector: []
        instruction: Extract the requested business parameters. Return only values
          supported by the provided request.
        parameters:
        - name: account_name
          type: string
          required: true
          description: Account or customer name
        - name: priority
          type: string
          required: false
          description: Request priority
        - name: requires_review
          type: string
          required: false
          description: Whether manual review is needed; return yes or no
        isInLoop: false
        isInIteration: false
    - id: end_node
      type: custom
      position:
        x: 880
        y: 280
      width: 280
      height: 64
      data:
        type: end
        title: End
        desc: ''
        outputs:
        - variable: account_name
          type: string
          value_selector:
          - parameter_node
          - account_name
        - variable: priority
          type: string
          value_selector:
          - parameter_node
          - priority
        - variable: requires_review
          type: string
          value_selector:
          - parameter_node
          - requires_review
        isInLoop: false
        isInIteration: false
    edges:
    - id: start_node-source-parameter_node
      source: start_node
      target: parameter_node
      sourceHandle: source
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    - id: parameter_node-source-end_node
      source: parameter_node
      target: end_node
      sourceHandle: source
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    viewport:
      x: 0
      y: 0
      zoom: 0.8
