web/public/templates/agents/en-US/sql-insight-analyst-workflow.yml
---
kind: app
version: 1.0.0
exported_from: zgi
exported_at: '2026-05-15T00:00:00Z'
app:
  name: SQL Insight Analyst
  description: Generate SQL against an approved schema, query records, and summarize
    results.
  icon: '{"icon":"SQL","icon_background":"#475569"}'
  icon_type: text
  mode: WORKFLOW
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    opening_statement_type: slogan
    opening_slogan: ''
    opening_statement: ''
    opening_statement_enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      voice: ''
      language: ''
    speech_to_text:
      enabled: false
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    conversation_history:
      enabled: false
      history_window_size: 6
    file_upload:
      enabled: false
      allowed_file_types:
      - image
      - document
      allowed_file_extensions:
      - jpg
      - jpeg
      - png
      - gif
      - webp
      - pdf
      - doc
      - docx
      - txt
      - md
      - csv
      - xlsx
      allowed_file_upload_methods:
      - local_file
      - remote_url
      number_limits: 5
    webapp_workflow_config:
      allow_view_run_detail: true
      auto_expand_run_detail: false
  graph:
    nodes:
    - id: note_runtime_guide
      type: note
      position:
        x: 80
        y: 40
      width: 520
      height: 240
      data:
        type: note
        title: Run guide
        desc: ''
        text: |-
          Run guide

          Setup required. Requires: OpenAI GPT-4o model, database. Bind a real data source and tables before SQL generation and querying.

          Suggested test input:
          The Start node fields are prefilled. Open Debug and run the defaults directly.
          Example:
          - Business question: Show the top 5 open renewal risks by account value and summarize next actions.

          This note is documentation only and is not executed.
        theme: yellow
        isInLoop: false
        isInIteration: false
    - id: start_node
      type: custom
      position:
        x: 80
        y: 280
      width: 280
      height: 88
      data:
        type: start
        title: Start
        desc: Agent start node
        variables:
        - type: paragraph
          variable: input
          label: Business question
          required: true
          max_length: 8192
          default: Show the top 5 open renewal risks by account value and summarize
            next actions.
        unique: true
        isInLoop: false
        isInIteration: false
    - id: sql_node
      type: custom
      position:
        x: 420
        y: 280
      width: 280
      height: 92
      data:
        type: sql-generator
        title: SQL Generator
        desc: ''
        data:
          model:
            provider: ''
            name: ''
            mode: chat
            completion_params: {}
          data_source:
            source:
              id: configure-data-source
              name: Configure Data Source
              schema: public
              type: postgres
            tables:
            - id: configure-table
              label: business_records
              name: business_records
              schema: public
              table_id: 0
              columns:
              - id
              - status
              - owner
              - priority
              - updated_at
          prompt: 'Generate a safe read-only SQL query for this business question:
            {{#start_node.input#}}'
          execution:
            timeout_seconds: 60
            max_retries: 3
        isInLoop: false
        isInIteration: false
    - id: db_node
      type: custom
      position:
        x: 760
        y: 280
      width: 280
      height: 92
      data:
        type: call-database
        title: Call Database
        desc: ''
        data:
          data_source:
            id: configure-data-source
            name: Configure Data Source
            schema_name: public
            type: postgres
          table_selection:
          - id: configure-table
            label: business_records
            name: business_records
            schema: public
            table_id: 0
            columns:
            - id
            - status
            - owner
            - priority
            - updated_at
          manual_sql: "{{#sql_node.sql#}}"
          execution:
            timeout_seconds: 30
            max_retries: 0
        isInLoop: false
        isInIteration: false
    - id: llm_node
      type: custom
      position:
        x: 1100
        y: 280
      width: 280
      height: 92
      data:
        type: llm
        title: Summarize Query Results
        desc: ''
        variables: []
        model:
          provider: openai
          name: gpt-4o
          mode: chat
          completion_params: {}
        prompt_template:
        - role: system
          text: Summarize the database rows, highlight patterns, and identify follow-up
            questions.
        - role: user
          text: |-
            Question: {{#start_node.input#}}
            Rows: {{#db_node.rows#}}
        prompt_config:
          jinja2_variables: []
        vision:
          enabled: false
        structured_output_enabled: false
        reasoning_format: tagged
        isInLoop: false
        isInIteration: false
    - id: end_node
      type: custom
      position:
        x: 1440
        y: 280
      width: 280
      height: 64
      data:
        type: end
        title: End
        desc: ''
        outputs:
        - variable: answer
          type: string
          value_selector:
          - llm_node
          - text
        isInLoop: false
        isInIteration: false
    edges:
    - id: start_node-source-sql_node
      source: start_node
      target: sql_node
      sourceHandle: source
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    - id: sql_node-source-db_node
      source: sql_node
      target: db_node
      sourceHandle: source
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    - id: db_node-source-llm_node
      source: db_node
      target: llm_node
      sourceHandle: source
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    - id: llm_node-source-end_node
      source: llm_node
      target: end_node
      sourceHandle: source
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    viewport:
      x: 0
      y: 0
      zoom: 0.8
