web/public/templates/agents/en-US/structured-json-extractor-workflow.yml
---
kind: app
version: 1.0.0
exported_from: zgi
exported_at: '2026-05-15T00:00:00Z'
app:
  name: Structured JSON Extractor
  description: Convert unstructured text into typed JSON for downstream systems.
  icon: '{"icon":"JS","icon_background":"#0f766e"}'
  icon_type: text
  mode: WORKFLOW
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    opening_statement_type: slogan
    opening_slogan: ''
    opening_statement: ''
    opening_statement_enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      voice: ''
      language: ''
    speech_to_text:
      enabled: false
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    conversation_history:
      enabled: false
      history_window_size: 6
    file_upload:
      enabled: false
      allowed_file_types:
      - image
      - document
      allowed_file_extensions:
      - jpg
      - jpeg
      - png
      - gif
      - webp
      - pdf
      - doc
      - docx
      - txt
      - md
      - csv
      - xlsx
      allowed_file_upload_methods:
      - local_file
      - remote_url
      number_limits: 5
    webapp_workflow_config:
      allow_view_run_detail: true
      auto_expand_run_detail: false
  graph:
    nodes:
    - id: note_runtime_guide
      type: note
      position:
        x: 80
        y: 40
      width: 520
      height: 240
      data:
        type: note
        title: Run guide
        desc: ''
        text: |-
          Run guide

          Ready. Requires: OpenAI gpt-5.5 model. Provide unstructured text to return typed fields.

          Suggested test input:
          The Start node fields are prefilled. Open Debug and run the defaults directly.
          Example:
          - Source text: Customer: Acme Analytics. Contact: Mia Chen, mia.chen@example.invalid. Request: upgrade workspace seats from 80 to 120 before May 31. Pri...

          This note is documentation only and is not executed.
        theme: blue
        isInLoop: false
        isInIteration: false
    - id: start_node
      type: custom
      position:
        x: 80
        y: 280
      width: 280
      height: 88
      data:
        type: start
        title: Start
        desc: Agent start node
        variables:
        - type: paragraph
          variable: input
          label: Source text
          required: true
          max_length: 8192
          default: 'Customer: Acme Analytics. Contact: Mia Chen, mia.chen@example.invalid.
            Request: upgrade workspace seats from 80 to 120 before May 31. Priority:
            high.'
        unique: true
        isInLoop: false
        isInIteration: false
    - id: llm_node
      type: custom
      position:
        x: 420
        y: 280
      width: 280
      height: 92
      data:
        type: llm
        title: Extract JSON
        desc: ''
        variables: []
        model:
          provider: openai
          name: gpt-5.5
          mode: chat
          completion_params:
            response_format: json_object
        prompt_template:
        - role: system
          text: Extract a JSON object with account_name, request_type, priority, owner,
            and due_date. Return only JSON.
        - role: user
          text: "{{#start_node.input#}}"
        prompt_config:
          jinja2_variables: []
        vision:
          enabled: false
        structured_output_enabled: false
        reasoning_format: tagged
        isInLoop: false
        isInIteration: false
    - id: json_parser_node
      type: custom
      position:
        x: 760
        y: 280
      width: 280
      height: 92
      data:
        type: json-parser
        title: Parse JSON
        desc: ''
        input_selector:
        - llm_node
        - text
        is_flatten_output: true
        outputs:
          account_name:
            type: string
          request_type:
            type: string
          priority:
            type: string
          owner:
            type: string
          due_date:
            type: string
        error_strategy: default-value
        default_value:
        - key: account_name
          type: string
          value: ''
        - key: request_type
          type: string
          value: ''
        - key: priority
          type: string
          value: ''
        - key: owner
          type: string
          value: ''
        - key: due_date
          type: string
          value: ''
        retry_config:
          enable: false
          max_times: 3
          interval: 1000
        isInLoop: false
        isInIteration: false
    - id: end_node
      type: custom
      position:
        x: 1100
        y: 280
      width: 280
      height: 64
      data:
        type: end
        title: End
        desc: ''
        outputs:
        - variable: account_name
          type: string
          value_selector:
          - json_parser_node
          - account_name
        - variable: priority
          type: string
          value_selector:
          - json_parser_node
          - priority
        isInLoop: false
        isInIteration: false
    edges:
    - id: start_node-source-llm_node
      source: start_node
      target: llm_node
      sourceHandle: source
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    - id: llm_node-source-json_parser_node
      source: llm_node
      target: json_parser_node
      sourceHandle: source
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    - id: json_parser_node-source-end_node
      source: json_parser_node
      target: end_node
      sourceHandle: source
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    viewport:
      x: 0
      y: 0
      zoom: 0.8
