web/public/templates/agents/en-US/visual-asset-request-workflow.yml
---
kind: app
version: 1.0.0
exported_from: zgi
exported_at: '2026-05-15T00:00:00Z'
app:
  name: Visual Asset Request
  description: Turn a campaign or product request into an image-generation prompt
    and asset.
  icon: '{"icon":"VA","icon_background":"#c026d3"}'
  icon_type: text
  mode: WORKFLOW
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    opening_statement_type: slogan
    opening_slogan: ''
    opening_statement: ''
    opening_statement_enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      voice: ''
      language: ''
    speech_to_text:
      enabled: false
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    conversation_history:
      enabled: false
      history_window_size: 6
    file_upload:
      enabled: false
      allowed_file_types:
      - image
      - document
      allowed_file_extensions:
      - jpg
      - jpeg
      - png
      - gif
      - webp
      - pdf
      - doc
      - docx
      - txt
      - md
      - csv
      - xlsx
      allowed_file_upload_methods:
      - local_file
      - remote_url
      number_limits: 5
    webapp_workflow_config:
      allow_view_run_detail: true
      auto_expand_run_detail: false
  graph:
    nodes:
    - id: note_runtime_guide
      type: note
      position:
        x: 80
        y: 40
      width: 520
      height: 240
      data:
        type: note
        title: Run guide
        desc: ''
        text: |-
          Run guide

          Setup required. Requires: OpenAI gpt-5.5 model, image model. Confirm the image generation model is available before running.

          Suggested test input:
          The Start node fields are prefilled. Open Debug and run the defaults directly.
          Example:
          - Asset request: Create a clean product banner for an enterprise AI workflow launch. Use a white workspace, blue primary action, and concise operational U...

          This note is documentation only and is not executed.
        theme: yellow
        isInLoop: false
        isInIteration: false
    - id: start_node
      type: custom
      position:
        x: 80
        y: 280
      width: 280
      height: 88
      data:
        type: start
        title: Start
        desc: Agent start node
        variables:
        - type: paragraph
          variable: input
          label: Asset request
          required: true
          max_length: 8192
          default: Create a clean product banner for an enterprise AI workflow launch.
            Use a white workspace, blue primary action, and concise operational UI
            elements.
        unique: true
        isInLoop: false
        isInIteration: false
    - id: prompt_llm
      type: custom
      position:
        x: 420
        y: 280
      width: 280
      height: 92
      data:
        type: llm
        title: Generate Image Prompt
        desc: ''
        variables: []
        model:
          provider: openai
          name: gpt-5.5
          mode: chat
          completion_params: {}
        prompt_template:
        - role: system
          text: Convert the business request into a precise image generation prompt.
            Include audience, scene, constraints, and brand-safe visual direction.
        - role: user
          text: "{{#start_node.input#}}"
        prompt_config:
          jinja2_variables: []
        vision:
          enabled: false
        structured_output_enabled: false
        reasoning_format: tagged
        isInLoop: false
        isInIteration: false
    - id: image_node
      type: custom
      position:
        x: 760
        y: 280
      width: 280
      height: 92
      data:
        type: image-gen
        title: Image Generation
        desc: ''
        model:
          provider: qwen
          name: qwen-image-2.0
        prompt: "{{#prompt_llm.text#}}"
        prompt_config:
          template_variables: []
        generation:
          n: 1
          size: 1024x1024
          quality: ''
        output:
          lifecycle: persistent
        retry_config:
          enable: false
          max_times: 0
          interval: 0
        error_strategy: fail-branch
        default_value: []
        isInLoop: false
        isInIteration: false
    - id: end_node
      type: custom
      position:
        x: 1100
        y: 280
      width: 280
      height: 64
      data:
        type: end
        title: End
        desc: ''
        outputs:
        - variable: image_urls
          type: array[string]
          value_selector:
          - image_node
          - urls
        isInLoop: false
        isInIteration: false
    edges:
    - id: start_node-source-prompt_llm
      source: start_node
      target: prompt_llm
      sourceHandle: source
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    - id: prompt_llm-source-image_node
      source: prompt_llm
      target: image_node
      sourceHandle: source
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    - id: image_node-source-end_node
      source: image_node
      target: end_node
      sourceHandle: source
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    viewport:
      x: 0
      y: 0
      zoom: 0.8
