web/public/templates/agents/zh-Hans/api-enrichment-workflow.yml
---
kind: app
version: 1.0.0
exported_from: zgi
exported_at: '2026-05-15T00:00:00Z'
app:
  name: API 数据增强
  description: 调用 HTTP 接口、解析响应，并产出增强后的业务摘要。
  icon: '{"icon":"API","icon_background":"#0369a1"}'
  icon_type: text
  mode: WORKFLOW
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    opening_statement_type: slogan
    opening_slogan: ''
    opening_statement: ''
    opening_statement_enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      voice: ''
      language: ''
    speech_to_text:
      enabled: false
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    conversation_history:
      enabled: false
      history_window_size: 6
    file_upload:
      enabled: false
      allowed_file_types:
      - image
      - document
      allowed_file_extensions:
      - jpg
      - jpeg
      - png
      - gif
      - webp
      - pdf
      - doc
      - docx
      - txt
      - md
      - csv
      - xlsx
      allowed_file_upload_methods:
      - local_file
      - remote_url
      number_limits: 5
    webapp_workflow_config:
      allow_view_run_detail: true
      auto_expand_run_detail: false
  graph:
    nodes:
    - id: note_runtime_guide
      type: note
      position:
        x: 80
        y: 40
      width: 520
      height: 240
      data:
        type: note
        title: 运行说明
        desc: ''
        text: |-
          运行说明

          可运行。依赖：OpenAI GPT-4o 模型、外部网络。默认 HTTP 节点调用 GitHub 公开搜索接口；企业使用时可替换为内部 API。

          调试输入：
          打开调试面板后，开始节点字段已经预填，可直接运行。
          示例：
          - 待增强记录: react table sorting

          该备注仅用于说明，不参与执行。
        theme: blue
        isInLoop: false
        isInIteration: false
    - id: start_node
      type: custom
      position:
        x: 80
        y: 280
      width: 280
      height: 88
      data:
        type: start
        title: 开始
        desc: 智能体入口节点
        variables:
        - type: paragraph
          variable: input
          label: 待增强记录
          required: true
          max_length: 8192
          default: react table sorting
        unique: true
        isInLoop: false
        isInIteration: false
    - id: http_node
      type: custom
      position:
        x: 420
        y: 280
      width: 280
      height: 92
      data:
        type: http-request
        title: HTTP 请求
        desc: ''
        method: GET
        url: https://api.github.com/search/repositories
        params:
        - key: q
          value: "{{#start_node.input#}}"
        - key: per_page
          value: '3'
        headers:
        - key: Accept
          value: application/json
        body:
          type: none
          data: []
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
          connect: 10
          read: 60
          write: 10
        retry_config:
          retry_enabled: false
          max_retries: 3
          retry_interval: 1000
        error_strategy: default-value
        default_value:
        - key: body
          type: string
          value: '{"status":"fallback","summary":"请配置 HTTP 接口。"}'
        - key: status_code
          type: number
          value: '200'
        - key: headers
          type: object
          value: "{}"
        isInLoop: false
        isInIteration: false
    - id: api_parser
      type: custom
      position:
        x: 760
        y: 280
      width: 280
      height: 92
      data:
        type: json-parser
        title: 解析 API 响应
        desc: ''
        input_selector:
        - http_node
        - body
        is_flatten_output: true
        outputs:
          total_count:
            type: number
          items:
            type: array[object]
        error_strategy: default-value
        default_value:
        - key: total_count
          type: number
          value: '0'
        - key: items
          type: array[object]
          value: "[]"
        retry_config:
          enable: false
          max_times: 3
          interval: 1000
        isInLoop: false
        isInIteration: false
    - id: llm_node
      type: custom
      position:
        x: 1100
        y: 280
      width: 280
      height: 92
      data:
        type: llm
        title: 增强摘要
        desc: ''
        variables: []
        model:
          provider: openai
          name: gpt-4o
          mode: chat
          completion_params: {}
        prompt_template:
        - role: system
          text: 将原始请求和 API 响应合并为简洁的数据增强摘要。
        - role: user
          text: |-
            原始请求：
            {{#start_node.input#}}

            GitHub 仓库搜索数量：{{#api_parser.total_count#}}
            前几项：{{#api_parser.items#}}
        prompt_config:
          jinja2_variables: []
        vision:
          enabled: false
        structured_output_enabled: false
        reasoning_format: tagged
        isInLoop: false
        isInIteration: false
    - id: end_node
      type: custom
      position:
        x: 1440
        y: 280
      width: 280
      height: 64
      data:
        type: end
        title: 结束
        desc: ''
        outputs:
        - variable: brief
          type: string
          value_selector:
          - llm_node
          - text
        isInLoop: false
        isInIteration: false
    edges:
    - id: start_node-source-http_node
      source: start_node
      target: http_node
      sourceHandle: source
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    - id: http_node-source-api_parser
      source: http_node
      target: api_parser
      sourceHandle: source
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    - id: api_parser-source-llm_node
      source: api_parser
      target: llm_node
      sourceHandle: source
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    - id: llm_node-source-end_node
      source: llm_node
      target: end_node
      sourceHandle: source
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    viewport:
      x: 0
      y: 0
      zoom: 0.8
