web/public/templates/agents/zh-Hans/approval-gated-review-workflow.yml
---
kind: app
version: 1.0.0
exported_from: zgi
exported_at: '2026-05-15T00:00:00Z'
app:
  name: 审批门控审查
  description: 起草案件摘要、发起人工审批，并根据审批结果分支处理。
  icon: '{"icon":"AR","icon_background":"#a16207"}'
  icon_type: text
  mode: WORKFLOW
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    opening_statement_type: slogan
    opening_slogan: ''
    opening_statement: ''
    opening_statement_enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      voice: ''
      language: ''
    speech_to_text:
      enabled: false
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    conversation_history:
      enabled: false
      history_window_size: 6
    file_upload:
      enabled: false
      allowed_file_types:
      - image
      - document
      allowed_file_extensions:
      - jpg
      - jpeg
      - png
      - gif
      - webp
      - pdf
      - doc
      - docx
      - txt
      - md
      - csv
      - xlsx
      allowed_file_upload_methods:
      - local_file
      - remote_url
      number_limits: 5
    webapp_workflow_config:
      allow_view_run_detail: true
      auto_expand_run_detail: false
  graph:
    nodes:
    - id: note_runtime_guide
      type: note
      position:
        x: 80
        y: 40
      width: 520
      height: 240
      data:
        type: note
        title: 运行说明
        desc: ''
        text: |-
          运行说明

          需配置。依赖：OpenAI GPT gpt-5.5 模型、审批人。运行会在审批节点暂停，需要审批人完成动作。

          调试输入：
          打开调试面板后，开始节点字段已经预填，可直接运行。
          示例：
          - 案件详情: 供应商准入申请：Acme Analytics 申请生产 API 访问权限。合同金额为每年 48,000 美元。安全评审已完成，但财务审批仍待确认。

          该备注仅用于说明，不参与执行。
        theme: yellow
        isInLoop: false
        isInIteration: false
    - id: start_node
      type: custom
      position:
        x: 80
        y: 280
      width: 280
      height: 88
      data:
        type: start
        title: 开始
        desc: 智能体入口节点
        variables:
        - type: paragraph
          variable: input
          label: 案件详情
          required: true
          max_length: 8192
          default: 供应商准入申请：Acme Analytics 申请生产 API 访问权限。合同金额为每年 48,000 美元。安全评审已完成，但财务审批仍待确认。
        unique: true
        isInLoop: false
        isInIteration: false
    - id: draft_llm
      type: custom
      position:
        x: 420
        y: 280
      width: 280
      height: 92
      data:
        type: llm
        title: 起草决策
        desc: ''
        variables: []
        model:
          provider: openai
          name: gpt-5.5
          mode: chat
          completion_params: {}
        prompt_template:
        - role: system
          text: 为人工审批起草案件摘要、建议、风险和理由。
        - role: user
          text: "{{#start_node.input#}}"
        prompt_config:
          jinja2_variables: []
        vision:
          enabled: false
        structured_output_enabled: false
        reasoning_format: tagged
        isInLoop: false
        isInIteration: false
    - id: approval_node
      type: custom
      position:
        x: 760
        y: 280
      width: 280
      height: 92
      data:
        type: approval
        title: 审批
        desc: ''
        version: v1
        approval:
          content: |-
            请审核以下建议决策：

            {{#draft_llm.text#}}
          fields:
          - key: review_notes
            label: 审核备注
            type: textarea
            required: false
          actions:
          - id: approve
            label: 通过
            style: primary
          - id: revise
            label: 退回修改
            style: secondary
          - id: reject
            label: 拒绝
            style: danger
        submit_methods:
          webapp:
            enabled: true
          email:
            enabled: false
            subject: ''
            body: '请打开链接完成审核：{{#url#}}'
            recipients: []
        timeout:
          duration: 36
          unit: hour
        isInLoop: false
        isInIteration: false
    - id: approved_end
      type: custom
      position:
        x: 1120
        y: 120
      width: 280
      height: 64
      data:
        type: end
        title: 结束
        desc: ''
        outputs:
        - variable: decision
          type: string
          value_selector:
          - draft_llm
          - text
        - variable: review_notes
          type: string
          value_selector:
          - approval_node
          - review_notes
        isInLoop: false
        isInIteration: false
    - id: revise_end
      type: custom
      position:
        x: 1120
        y: 300
      width: 280
      height: 64
      data:
        type: end
        title: 结束
        desc: ''
        outputs:
        - variable: revision_request
          type: string
          value_selector:
          - approval_node
          - approval_action_label
        - variable: review_notes
          type: string
          value_selector:
          - approval_node
          - review_notes
        isInLoop: false
        isInIteration: false
    - id: rejected_end
      type: custom
      position:
        x: 1120
        y: 480
      width: 280
      height: 64
      data:
        type: end
        title: 结束
        desc: ''
        outputs:
        - variable: rejection
          type: string
          value_selector:
          - approval_node
          - approval_action_label
        - variable: review_notes
          type: string
          value_selector:
          - approval_node
          - review_notes
        isInLoop: false
        isInIteration: false
    edges:
    - id: start_node-source-draft_llm
      source: start_node
      target: draft_llm
      sourceHandle: source
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    - id: draft_llm-source-approval_node
      source: draft_llm
      target: approval_node
      sourceHandle: source
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    - id: approval_node-approve-approved_end
      source: approval_node
      target: approved_end
      sourceHandle: approve
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    - id: approval_node-revise-revise_end
      source: approval_node
      target: revise_end
      sourceHandle: revise
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    - id: approval_node-reject-rejected_end
      source: approval_node
      target: rejected_end
      sourceHandle: reject
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    viewport:
      x: 0
      y: 0
      zoom: 0.8
