web/public/templates/agents/zh-Hans/batch-record-review-workflow.yml
---
kind: app
version: 1.0.0
exported_from: zgi
exported_at: '2026-05-15T00:00:00Z'
app:
  name: 批量记录审查
  description: 遍历记录、逐项审查，并汇总最终评估。
  icon: '{"icon":"BR","icon_background":"#9333ea"}'
  icon_type: text
  mode: WORKFLOW
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    opening_statement_type: slogan
    opening_slogan: ''
    opening_statement: ''
    opening_statement_enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      voice: ''
      language: ''
    speech_to_text:
      enabled: false
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    conversation_history:
      enabled: false
      history_window_size: 6
    file_upload:
      enabled: false
      allowed_file_types:
      - image
      - document
      allowed_file_extensions:
      - jpg
      - jpeg
      - png
      - gif
      - webp
      - pdf
      - doc
      - docx
      - txt
      - md
      - csv
      - xlsx
      allowed_file_upload_methods:
      - local_file
      - remote_url
      number_limits: 5
    webapp_workflow_config:
      allow_view_run_detail: true
      auto_expand_run_detail: false
  graph:
    nodes:
    - id: note_runtime_guide
      type: note
      position:
        x: 80
        y: 40
      width: 520
      height: 240
      data:
        type: note
        title: 运行说明
        desc: ''
        text: |-
          运行说明

          可运行。依赖：OpenAI GPT-4o 模型。输入包含 records 数组语义的文本或 JSON。

          调试输入：
          打开调试面板后，开始节点字段已经预填，可直接运行。
          示例：
          - 记录 JSON: {"items":[{"id":"case-1001","summary":"发票金额与采购订单不一致","priority":"high"},{"id":"case-1002","summary":"客户请求更新地址","priority":"normal"}]}

          该备注仅用于说明，不参与执行。
        theme: blue
        isInLoop: false
        isInIteration: false
    - id: start_node
      type: custom
      position:
        x: 80
        y: 280
      width: 280
      height: 88
      data:
        type: start
        title: 开始
        desc: 智能体入口节点
        variables:
        - type: paragraph
          variable: records_text
          label: 记录 JSON
          required: true
          max_length: 8192
          default: '{"items":[{"id":"case-1001","summary":"发票金额与采购订单不一致","priority":"high"},{"id":"case-1002","summary":"客户请求更新地址","priority":"normal"}]}'
        unique: true
        isInLoop: false
        isInIteration: false
    - id: extract_llm
      type: custom
      position:
        x: 420
        y: 280
      width: 280
      height: 92
      data:
        type: llm
        title: 抽取记录
        desc: ''
        variables: []
        model:
          provider: openai
          name: gpt-4o
          mode: chat
          completion_params:
            response_format: json_object
        prompt_template:
        - role: system
          text: 抽取名为 records 的数组。每条记录包含 id、summary、owner、priority。仅返回 JSON。
        - role: user
          text: "{{#start_node.records_text#}}"
        prompt_config:
          jinja2_variables: []
        vision:
          enabled: false
        structured_output_enabled: false
        reasoning_format: tagged
        isInLoop: false
        isInIteration: false
    - id: records_parser
      type: custom
      position:
        x: 740
        y: 280
      width: 280
      height: 92
      data:
        type: json-parser
        title: 解析记录
        desc: ''
        input_selector:
        - extract_llm
        - text
        is_flatten_output: true
        outputs:
          records:
            type: array[object]
        error_strategy: default-value
        default_value:
        - key: records
          type: array[object]
          value: "[]"
        retry_config:
          enable: false
          max_times: 3
          interval: 1000
        isInLoop: false
        isInIteration: false
    - id: iteration_node
      type: custom
      position:
        x: 1080
        y: 180
      width: 520
      height: 280
      data:
        type: iteration
        title: 遍历记录
        desc: ''
        start_node_id: iteration_nodestart
        iterator_selector:
        - records_parser
        - records
        iterator_input_type: array[object]
        output_selector:
        - review_llm
        - text
        output_type: array[string]
        is_parallel: true
        parallel_nums: 5
        error_handle_mode: terminated
        isInLoop: false
        isInIteration: false
        _children:
        - iteration_nodestart
        - review_llm
    - id: iteration_nodestart
      type: custom-iteration-start
      position:
        x: 12
        y: 52
      width: 40
      height: 40
      data:
        type: iteration-start
        title: 遍历记录
        desc: ''
        isInIteration: true
        isInLoop: false
      parentId: iteration_node
      extent: parent
      selectable: false
      draggable: false
      measured:
        width: 40
        height: 40
    - id: review_llm
      type: custom
      position:
        x: 90
        y: 80
      width: 280
      height: 92
      data:
        type: llm
        title: 逐项审查
        desc: ''
        variables: []
        model:
          provider: openai
          name: gpt-4o
          mode: chat
          completion_params: {}
        prompt_template:
        - role: system
          text: 审查当前记录，返回简洁的质量评估和建议动作。
        - role: user
          text: 当前记录：{{#iteration_node.item#}}
        prompt_config:
          jinja2_variables: []
        vision:
          enabled: false
        structured_output_enabled: false
        reasoning_format: tagged
        isInLoop: false
        isInIteration: true
      parentId: iteration_node
    - id: aggregate_node
      type: custom
      position:
        x: 1680
        y: 280
      width: 280
      height: 92
      data:
        type: variable-aggregator
        title: 变量聚合
        desc: ''
        output_type: string
        variables:
        - - iteration_node
          - output
        advanced_settings:
          group_enabled: false
          groups: []
        isInLoop: false
        isInIteration: false
    - id: end_node
      type: custom
      position:
        x: 2040
        y: 280
      width: 280
      height: 64
      data:
        type: end
        title: 结束
        desc: ''
        outputs:
        - variable: review_summary
          type: string
          value_selector:
          - aggregate_node
          - output
        isInLoop: false
        isInIteration: false
    edges:
    - id: start_node-source-extract_llm
      source: start_node
      target: extract_llm
      sourceHandle: source
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    - id: extract_llm-source-records_parser
      source: extract_llm
      target: records_parser
      sourceHandle: source
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    - id: records_parser-source-iteration_node
      source: records_parser
      target: iteration_node
      sourceHandle: source
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    - id: iteration_nodestart-source-review_llm
      source: iteration_nodestart
      target: review_llm
      sourceHandle: source
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: true
    - id: iteration_node-source-aggregate_node
      source: iteration_node
      target: aggregate_node
      sourceHandle: source
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    - id: aggregate_node-source-end_node
      source: aggregate_node
      target: end_node
      sourceHandle: source
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    viewport:
      x: 0
      y: 0
      zoom: 0.8
