web/public/templates/agents/zh-Hans/customer-signal-triage-workflow.yml
---
kind: app
version: 1.0.0
exported_from: zgi
exported_at: '2026-05-15T00:00:00Z'
app:
  name: 客户信号分级
  description: 分类客户反馈、识别紧急程度，并生成响应摘要。
  icon: '{"icon":"CS","icon_background":"#db2777"}'
  icon_type: text
  mode: WORKFLOW
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    opening_statement_type: slogan
    opening_slogan: ''
    opening_statement: ''
    opening_statement_enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      voice: ''
      language: ''
    speech_to_text:
      enabled: false
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    conversation_history:
      enabled: false
      history_window_size: 6
    file_upload:
      enabled: false
      allowed_file_types:
      - image
      - document
      allowed_file_extensions:
      - jpg
      - jpeg
      - png
      - gif
      - webp
      - pdf
      - doc
      - docx
      - txt
      - md
      - csv
      - xlsx
      allowed_file_upload_methods:
      - local_file
      - remote_url
      number_limits: 5
    webapp_workflow_config:
      allow_view_run_detail: true
      auto_expand_run_detail: false
  graph:
    nodes:
    - id: note_runtime_guide
      type: note
      position:
        x: 80
        y: 40
      width: 520
      height: 240
      data:
        type: note
        title: 运行说明
        desc: ''
        text: |-
          运行说明

          可运行。依赖：OpenAI GPT gpt-5.5 模型。输入客户反馈，流程会分类、分级并生成响应摘要。

          调试输入：
          打开调试面板后，开始节点字段已经预填，可直接运行。
          示例：
          - 客户反馈: 客户反馈最新发票金额不正确，续约截止日期是明天，需要今天确认合同负责人。

          该备注仅用于说明，不参与执行。
        theme: blue
        isInLoop: false
        isInIteration: false
    - id: start_node
      type: custom
      position:
        x: 80
        y: 280
      width: 280
      height: 88
      data:
        type: start
        title: 开始
        desc: 智能体入口节点
        variables:
        - type: paragraph
          variable: input
          label: 客户反馈
          required: true
          max_length: 8192
          default: 客户反馈最新发票金额不正确，续约截止日期是明天，需要今天确认合同负责人。
        unique: true
        isInLoop: false
        isInIteration: false
    - id: triage_llm
      type: custom
      position:
        x: 420
        y: 280
      width: 280
      height: 92
      data:
        type: llm
        title: 客户信号分类
        desc: ''
        variables: []
        model:
          provider: openai
          name: gpt-5.5
          mode: chat
          completion_params:
            response_format: json_object
        prompt_template:
        - role: system
          text: 分类客户反馈。仅返回 JSON，字段为 sentiment、severity、topic、recommended_action。severity
            必须使用英文值 high 或 normal。
        - role: user
          text: "{{#start_node.input#}}"
        prompt_config:
          jinja2_variables: []
        vision:
          enabled: false
        structured_output_enabled: false
        reasoning_format: tagged
        isInLoop: false
        isInIteration: false
    - id: triage_parser
      type: custom
      position:
        x: 740
        y: 280
      width: 280
      height: 92
      data:
        type: json-parser
        title: 解析信号
        desc: ''
        input_selector:
        - triage_llm
        - text
        is_flatten_output: true
        outputs:
          sentiment:
            type: string
          severity:
            type: string
          topic:
            type: string
          recommended_action:
            type: string
        error_strategy: default-value
        default_value:
        - key: sentiment
          type: string
          value: ''
        - key: severity
          type: string
          value: ''
        - key: topic
          type: string
          value: ''
        - key: recommended_action
          type: string
          value: ''
        retry_config:
          enable: false
          max_times: 3
          interval: 1000
        isInLoop: false
        isInIteration: false
    - id: severity_branch
      type: custom
      position:
        x: 1040
        y: 280
      width: 280
      height: 92
      data:
        type: if-else
        title: 严重程度分支
        desc: ''
        cases:
        - case_id: high
          conditions:
          - id: condition_severity
            key: severity
            variable_selector:
            - triage_parser
            - severity
            comparison_operator: contains
            value: high
            varType: string
          logical_operator: and
        targetBranches:
        - id: high
          name: 高严重度
        - id: 'false'
          name: 其他
    - id: urgent_llm
      type: custom
      position:
        x: 1360
        y: 160
      width: 280
      height: 92
      data:
        type: llm
        title: 紧急响应摘要
        desc: ''
        variables: []
        model:
          provider: openai
          name: gpt-5.5
          mode: chat
          completion_params: {}
        prompt_template:
        - role: system
          text: 生成紧急响应摘要，包含负责人、客户影响和立即行动。
        - role: user
          text: 主题：{{#triage_parser.topic#}}\n建议动作：{{#triage_parser.recommended_action#}}
        prompt_config:
          jinja2_variables: []
        vision:
          enabled: false
        structured_output_enabled: false
        reasoning_format: tagged
        isInLoop: false
        isInIteration: false
    - id: routine_llm
      type: custom
      position:
        x: 1360
        y: 420
      width: 280
      height: 92
      data:
        type: llm
        title: 常规响应摘要
        desc: ''
        variables: []
        model:
          provider: openai
          name: gpt-5.5
          mode: chat
          completion_params: {}
        prompt_template:
        - role: system
          text: 生成常规响应摘要，包含面向客户的说明和后续跟进。
        - role: user
          text: 主题：{{#triage_parser.topic#}}\n建议动作：{{#triage_parser.recommended_action#}}
        prompt_config:
          jinja2_variables: []
        vision:
          enabled: false
        structured_output_enabled: false
        reasoning_format: tagged
        isInLoop: false
        isInIteration: false
    - id: urgent_end
      type: custom
      position:
        x: 1700
        y: 160
      width: 280
      height: 64
      data:
        type: end
        title: 结束
        desc: ''
        outputs:
        - variable: brief
          type: string
          value_selector:
          - urgent_llm
          - text
        isInLoop: false
        isInIteration: false
    - id: routine_end
      type: custom
      position:
        x: 1700
        y: 420
      width: 280
      height: 64
      data:
        type: end
        title: 结束
        desc: ''
        outputs:
        - variable: brief
          type: string
          value_selector:
          - routine_llm
          - text
        isInLoop: false
        isInIteration: false
    edges:
    - id: start_node-source-triage_llm
      source: start_node
      target: triage_llm
      sourceHandle: source
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    - id: triage_llm-source-triage_parser
      source: triage_llm
      target: triage_parser
      sourceHandle: source
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    - id: triage_parser-source-severity_branch
      source: triage_parser
      target: severity_branch
      sourceHandle: source
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    - id: severity_branch-high-urgent_llm
      source: severity_branch
      target: urgent_llm
      sourceHandle: high
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    - id: severity_branch-false-routine_llm
      source: severity_branch
      target: routine_llm
      sourceHandle: 'false'
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    - id: urgent_llm-source-urgent_end
      source: urgent_llm
      target: urgent_end
      sourceHandle: source
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    - id: routine_llm-source-routine_end
      source: routine_llm
      target: routine_end
      sourceHandle: source
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    viewport:
      x: 0
      y: 0
      zoom: 0.8
