web/public/templates/agents/zh-Hans/daily-operations-digest-workflow.yml
---
kind: app
version: 1.0.0
exported_from: zgi
exported_at: '2026-05-15T00:00:00Z'
app:
  name: 每日运营简报
  description: 结合当前时间和主题上下文，生成管理层每日简报。
  icon: '{"icon":"OD","icon_background":"#16a34a"}'
  icon_type: text
  mode: WORKFLOW
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    opening_statement_type: slogan
    opening_slogan: ''
    opening_statement: ''
    opening_statement_enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      voice: ''
      language: ''
    speech_to_text:
      enabled: false
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    conversation_history:
      enabled: false
      history_window_size: 6
    file_upload:
      enabled: false
      allowed_file_types:
      - image
      - document
      allowed_file_extensions:
      - jpg
      - jpeg
      - png
      - gif
      - webp
      - pdf
      - doc
      - docx
      - txt
      - md
      - csv
      - xlsx
      allowed_file_upload_methods:
      - local_file
      - remote_url
      number_limits: 5
    webapp_workflow_config:
      allow_view_run_detail: true
      auto_expand_run_detail: false
  graph:
    nodes:
    - id: note_runtime_guide
      type: note
      position:
        x: 80
        y: 40
      width: 520
      height: 240
      data:
        type: note
        title: 运行说明
        desc: ''
        text: |-
          运行说明

          可运行。依赖：OpenAI GPT gpt-5.5 模型。输入简报主题；时间工具会补充当前时间。

          调试输入：
          打开调试面板后，开始节点字段已经预填，可直接运行。
          示例：
          - 简报主题: 为企业客户团队总结今天的客户支持风险。

          该备注仅用于说明，不参与执行。
        theme: blue
        isInLoop: false
        isInIteration: false
    - id: start_node
      type: custom
      position:
        x: 80
        y: 280
      width: 280
      height: 88
      data:
        type: start
        title: 开始
        desc: 智能体入口节点
        variables:
        - type: paragraph
          variable: topic
          label: 简报主题
          required: true
          max_length: 8192
          default: 为企业客户团队总结今天的客户支持风险。
        unique: true
        isInLoop: false
        isInIteration: false
    - id: time_node
      type: custom
      position:
        x: 420
        y: 280
      width: 280
      height: 92
      data:
        type: tools
        title: 当前时间
        desc: ''
        provider_id: time
        provider_type: builtin
        tool_name: current_time
        tool_parameters:
          format:
            type: constant
            value: "%Y-%m-%d %H:%M:%S"
          timezone:
            type: constant
            value: Asia/Shanghai
        isInLoop: false
        isInIteration: false
    - id: llm_node
      type: custom
      position:
        x: 760
        y: 280
      width: 280
      height: 92
      data:
        type: llm
        title: 每日简报
        desc: ''
        variables: []
        model:
          provider: openai
          name: gpt-5.5
          mode: chat
          completion_params: {}
        prompt_template:
        - role: system
          text: 生成管理层每日运营简报，包含当前时间、最新上下文、影响和建议动作。
        - role: user
          text: |-
            当前时间：{{#time_node.text#}}
            主题：{{#start_node.topic#}}
        prompt_config:
          jinja2_variables: []
        vision:
          enabled: false
        structured_output_enabled: false
        reasoning_format: tagged
        isInLoop: false
        isInIteration: false
    - id: end_node
      type: custom
      position:
        x: 1100
        y: 280
      width: 280
      height: 64
      data:
        type: end
        title: 结束
        desc: ''
        outputs:
        - variable: digest
          type: string
          value_selector:
          - llm_node
          - text
        isInLoop: false
        isInIteration: false
    edges:
    - id: start_node-source-time_node
      source: start_node
      target: time_node
      sourceHandle: source
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    - id: time_node-source-llm_node
      source: time_node
      target: llm_node
      sourceHandle: source
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    - id: llm_node-source-end_node
      source: llm_node
      target: end_node
      sourceHandle: source
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    viewport:
      x: 0
      y: 0
      zoom: 0.8
