web/public/templates/agents/zh-Hans/data-analysis-workflow.yml
---
kind: app
version: 1.0.0
exported_from: zgi
exported_at: '2026-05-15T00:00:00Z'
app:
  name: 运营数据分析
  description: 分析数据集或报告，输出洞察、风险和建议。
  icon: '{"icon":"DA","icon_background":"#7c3aed"}'
  icon_type: text
  mode: WORKFLOW
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    opening_statement_type: slogan
    opening_slogan: ''
    opening_statement: ''
    opening_statement_enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      voice: ''
      language: ''
    speech_to_text:
      enabled: false
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    conversation_history:
      enabled: false
      history_window_size: 6
    file_upload:
      enabled: false
      allowed_file_types:
      - image
      - document
      allowed_file_extensions:
      - jpg
      - jpeg
      - png
      - gif
      - webp
      - pdf
      - doc
      - docx
      - txt
      - md
      - csv
      - xlsx
      allowed_file_upload_methods:
      - local_file
      - remote_url
      number_limits: 5
    webapp_workflow_config:
      allow_view_run_detail: true
      auto_expand_run_detail: false
  graph:
    nodes:
    - id: note_runtime_guide
      type: note
      position:
        x: 80
        y: 40
      width: 520
      height: 240
      data:
        type: note
        title: 运行说明
        desc: ''
        text: |-
          运行说明

          可运行。依赖：Qwen qwen3.6-plus 模型。输入报告、表格摘要或数据说明。

          调试输入：
          打开调试面板后，开始节点字段已经预填，可直接运行。
          示例：
          - 数据集或报告: 区域,商机金额,赢率 北美,1240000,0.31 欧洲,980000,0.27 亚太,760000,0.34 问题：识别最强机会和最大的运营风险。

          该备注仅用于说明，不参与执行。
        theme: blue
        isInLoop: false
        isInIteration: false
    - id: start_node
      type: custom
      position:
        x: 80
        y: 280
      width: 280
      height: 88
      data:
        type: start
        title: 开始
        desc: 智能体入口节点
        variables:
        - type: paragraph
          variable: input
          label: 数据集或报告
          required: true
          max_length: 8192
          default: |-
            区域,商机金额,赢率
            北美,1240000,0.31
            欧洲,980000,0.27
            亚太,760000,0.34

            问题：识别最强机会和最大的运营风险。
        unique: true
        isInLoop: false
        isInIteration: false
    - id: llm_node
      type: custom
      position:
        x: 480
        y: 280
      width: 280
      height: 92
      data:
        type: llm
        title: 分析数据
        desc: ''
        variables: []
        model:
          provider: qwen
          name: qwen3.6-plus
          mode: chat
          completion_params: {}
        prompt_template:
        - role: system
          text: 分析提供的数据，输出关键指标、异常、风险、假设和建议的下一步动作。
        - role: user
          text: "{{#start_node.input#}}"
        prompt_config:
          jinja2_variables: []
        vision:
          enabled: false
        structured_output_enabled: false
        reasoning_format: tagged
        isInLoop: false
        isInIteration: false
    - id: end_node
      type: custom
      position:
        x: 880
        y: 280
      width: 280
      height: 64
      data:
        type: end
        title: 结束
        desc: ''
        outputs:
        - variable: analysis
          type: string
          value_selector:
          - llm_node
          - text
        isInLoop: false
        isInIteration: false
    edges:
    - id: start_node-source-llm_node
      source: start_node
      target: llm_node
      sourceHandle: source
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    - id: llm_node-source-end_node
      source: llm_node
      target: end_node
      sourceHandle: source
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    viewport:
      x: 0
      y: 0
      zoom: 0.8
