web/public/templates/agents/zh-Hans/file-translation-chatflow.yml
---
kind: app
version: 1.0.0
exported_from: zgi
exported_at: '2026-05-15T00:00:00Z'
app:
  name: 受控文件翻译
  description: 按照术语要求翻译文件内容，并输出审阅说明。
  icon: '{"icon":"FT","icon_background":"#d97706"}'
  icon_type: text
  mode: CONVERSATIONAL_WORKFLOW
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    opening_statement_type: slogan
    opening_slogan: ''
    opening_statement: ''
    opening_statement_enabled: false
    suggested_questions:
    - "请将上传文件翻译成英文，保持正式商务语气，并标记需要人工确认的术语。"
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      voice: ''
      language: ''
    speech_to_text:
      enabled: false
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    conversation_history:
      enabled: true
      history_window_size: 6
    file_upload:
      enabled: true
      allowed_file_types:
      - image
      - document
      allowed_file_extensions:
      - jpg
      - jpeg
      - png
      - gif
      - webp
      - pdf
      - doc
      - docx
      - txt
      - md
      - csv
      - xlsx
      allowed_file_upload_methods:
      - local_file
      - remote_url
      number_limits: 5
    webapp_workflow_config:
      allow_view_run_detail: true
      auto_expand_run_detail: false
  graph:
    nodes:
    - id: note_runtime_guide
      type: note
      position:
        x: 80
        y: 40
      width: 520
      height: 240
      data:
        type: note
        title: 运行说明
        desc: ''
        text: |-
          运行说明

          可运行。依赖：Qwen qwen3.6-plus 模型、文件输入。上传文件或附带文件内容后运行。

          调试输入：
          可在右侧调试窗口直接输入：
          请将上传文件翻译成英文，保持正式商务语气，并标记需要人工确认的术语。
          如涉及文件，请先上传一份样例文件。
          也可以点击建议问题开始调试。

          该备注仅用于说明，不参与执行。
        theme: blue
        isInLoop: false
        isInIteration: false
    - id: start_node
      type: custom
      position:
        x: 80
        y: 280
      width: 280
      height: 88
      data:
        type: start
        title: 开始
        desc: 智能体入口节点
        variables: []
        unique: true
        isInLoop: false
        isInIteration: false
    - id: doc_extract_node
      type: custom
      position:
        x: 420
        y: 280
      width: 280
      height: 92
      data:
        type: document-extractor
        title: 文档抽取
        desc: ''
        variable_selector:
        - sys
        - files
        is_array_file: true
        isInLoop: false
        isInIteration: false
    - id: llm_node
      type: custom
      position:
        x: 760
        y: 280
      width: 280
      height: 92
      data:
        type: llm
        title: 受控翻译
        desc: ''
        variables: []
        model:
          provider: qwen
          name: qwen3.6-plus
          mode: chat
          completion_params: {}
        prompt_template:
        - role: system
          text: 翻译抽取出的内容。保留术语、名称、数字和格式说明；对歧义术语添加审阅备注。
        - role: user
          text: |-
            用户请求：
            {{#sys.query#}}

            抽取的文件内容：
            {{#doc_extract_node.text#}}
        prompt_config:
          jinja2_variables: []
        vision:
          enabled: false
        structured_output_enabled: false
        reasoning_format: tagged
        isInLoop: false
        isInIteration: false
    - id: answer_node
      type: custom
      position:
        x: 1100
        y: 280
      width: 280
      height: 88
      data:
        type: answer
        title: 回复
        desc: ''
        variables: []
        answer: "{{#llm_node.text#}}"
        isInLoop: false
        isInIteration: false
    edges:
    - id: start_node-source-doc_extract_node
      source: start_node
      target: doc_extract_node
      sourceHandle: source
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    - id: doc_extract_node-source-llm_node
      source: doc_extract_node
      target: llm_node
      sourceHandle: source
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    - id: llm_node-source-answer_node
      source: llm_node
      target: answer_node
      sourceHandle: source
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    viewport:
      x: 0
      y: 0
      zoom: 0.8
