web/public/templates/agents/zh-Hans/parameter-capture-workflow.yml
---
kind: app
version: 1.0.0
exported_from: zgi
exported_at: '2026-05-15T00:00:00Z'
app:
  name: 业务参数提取
  description: 在执行下一步前，从请求中抽取关键业务参数。
  icon: '{"icon":"PC","icon_background":"#be123c"}'
  icon_type: text
  mode: WORKFLOW
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    opening_statement_type: slogan
    opening_slogan: ''
    opening_statement: ''
    opening_statement_enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      voice: ''
      language: ''
    speech_to_text:
      enabled: false
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    conversation_history:
      enabled: false
      history_window_size: 6
    file_upload:
      enabled: false
      allowed_file_types:
      - image
      - document
      allowed_file_extensions:
      - jpg
      - jpeg
      - png
      - gif
      - webp
      - pdf
      - doc
      - docx
      - txt
      - md
      - csv
      - xlsx
      allowed_file_upload_methods:
      - local_file
      - remote_url
      number_limits: 5
    webapp_workflow_config:
      allow_view_run_detail: true
      auto_expand_run_detail: false
  graph:
    nodes:
    - id: note_runtime_guide
      type: note
      position:
        x: 80
        y: 40
      width: 520
      height: 240
      data:
        type: note
        title: 运行说明
        desc: ''
        text: |-
          运行说明

          可运行。依赖：Qwen qwen3.6-plus 模型。输入业务请求，参数提取节点会抽取账号、优先级等字段。

          调试输入：
          打开调试面板后，开始节点字段已经预填，可直接运行。
          示例：
          - 业务请求: 为 Acme Analytics 创建续约任务，截止日期为下周五，负责人 Mia Chen，优先级 high，备注：确认更新后的席位数。

          该备注仅用于说明，不参与执行。
        theme: blue
        isInLoop: false
        isInIteration: false
    - id: start_node
      type: custom
      position:
        x: 80
        y: 280
      width: 280
      height: 88
      data:
        type: start
        title: 开始
        desc: 智能体入口节点
        variables:
        - type: paragraph
          variable: input
          label: 业务请求
          required: true
          max_length: 8192
          default: 为 Acme Analytics 创建续约任务，截止日期为下周五，负责人 Mia Chen，优先级 high，备注：确认更新后的席位数。
        unique: true
        isInLoop: false
        isInIteration: false
    - id: parameter_node
      type: custom
      position:
        x: 480
        y: 280
      width: 280
      height: 92
      data:
        type: parameter-extractor
        title: 参数提取
        desc: ''
        query:
        - start_node
        - input
        model:
          provider: qwen
          name: qwen3.6-plus
          mode: chat
          completion_params: {}
        reasoning_mode: prompt
        vision:
          enabled: false
          configs:
            detail: high
            variable_selector: []
        instruction: 抽取所需业务参数。只返回输入请求中有依据的字段值。
        parameters:
        - name: account_name
          type: string
          required: true
          description: 账号或客户名称
        - name: priority
          type: string
          required: false
          description: 请求优先级
        - name: requires_review
          type: string
          required: false
          description: 是否需要人工复核，返回 yes 或 no
        isInLoop: false
        isInIteration: false
    - id: end_node
      type: custom
      position:
        x: 880
        y: 280
      width: 280
      height: 64
      data:
        type: end
        title: 结束
        desc: ''
        outputs:
        - variable: account_name
          type: string
          value_selector:
          - parameter_node
          - account_name
        - variable: priority
          type: string
          value_selector:
          - parameter_node
          - priority
        - variable: requires_review
          type: string
          value_selector:
          - parameter_node
          - requires_review
        isInLoop: false
        isInIteration: false
    edges:
    - id: start_node-source-parameter_node
      source: start_node
      target: parameter_node
      sourceHandle: source
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    - id: parameter_node-source-end_node
      source: parameter_node
      target: end_node
      sourceHandle: source
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    viewport:
      x: 0
      y: 0
      zoom: 0.8
