web/public/templates/agents/zh-Hans/risk-intelligence-ops-chatflow.yml
---
kind: app
version: 1.0.0
exported_from: zgi
exported_at: '2026-05-15T00:00:00Z'
app:
  name: 风险情报运营
  description: 完成接收路由、实体抽取、知识检索、记录更新和处置建议。
  icon: '{"icon":"RI","icon_background":"#171717"}'
  icon_type: text
  mode: CONVERSATIONAL_WORKFLOW
workflow:
  conversation_variables:
  - id: cv_entity_name
    label: ''
    name: entity_name
    required: false
    type: ''
    value: ''
    value_type: string
    description: entity name
  - id: cv_document_text
    label: ''
    name: document_text
    required: false
    type: ''
    value: ''
    value_type: string
    description: document text
  - id: cv_case_priority
    label: ''
    name: case_priority
    required: false
    type: ''
    value: ''
    value_type: string
    description: case priority
  environment_variables: []
  features:
    opening_statement_type: slogan
    opening_slogan: ''
    opening_statement: ''
    opening_statement_enabled: false
    suggested_questions:
    - "收到风险记录：Acme 续约逾期且账单争议未关闭，请检索知识并更新处置建议。"
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      voice: ''
      language: ''
    speech_to_text:
      enabled: false
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    conversation_history:
      enabled: true
      history_window_size: 6
    file_upload:
      enabled: true
      allowed_file_types:
      - image
      - document
      allowed_file_extensions:
      - jpg
      - jpeg
      - png
      - gif
      - webp
      - pdf
      - doc
      - docx
      - txt
      - md
      - csv
      - xlsx
      allowed_file_upload_methods:
      - local_file
      - remote_url
      number_limits: 5
    webapp_workflow_config:
      allow_view_run_detail: true
      auto_expand_run_detail: false
  graph:
    nodes:
    - id: note_runtime_guide
      type: note
      position:
        x: 80
        y: 40
      width: 520
      height: 240
      data:
        type: note
        title: 运行说明
        desc: ''
        text: |-
          运行说明

          需配置。依赖：OpenAI GPT-4o 模型、文件输入、知识库、数据库。这是企业级编排示例：先绑定知识库和数据库，再用真实案例运行。

          调试输入：
          可在右侧调试窗口直接输入：
          收到风险记录：Acme 续约逾期且账单争议未关闭，请检索知识并更新处置建议。
          如涉及文件，请先上传一份样例文件。
          也可以点击建议问题开始调试。

          该备注仅用于说明，不参与执行。
        theme: yellow
        isInLoop: false
        isInIteration: false
    - id: start_node
      type: custom
      position:
        x: 80
        y: 280
      width: 280
      height: 88
      data:
        type: start
        title: 开始
        desc: 智能体入口节点
        variables: []
        unique: true
        isInLoop: false
        isInIteration: false
    - id: route_llm
      type: custom
      position:
        x: 360
        y: 260
      width: 280
      height: 92
      data:
        type: llm
        title: 接收路由
        desc: ''
        variables: []
        model:
          provider: openai
          name: gpt-4o
          mode: chat
          completion_params:
            response_format: json_object
        prompt_template:
        - role: system
          text: 分类最新消息。仅返回 JSON，字段为 need_record_update、need_analysis、need_advice、entity_name、priority。need_record_update/need_analysis/need_advice
            使用英文值 yes 或 no。
        - role: user
          text: |-
            最新消息：
            {{#sys.query#}}
            文件：{{#sys.files#}}
        prompt_config:
          jinja2_variables: []
        vision:
          enabled: false
        structured_output_enabled: false
        reasoning_format: tagged
        isInLoop: false
        isInIteration: false
    - id: route_parser
      type: custom
      position:
        x: 700
        y: 260
      width: 280
      height: 92
      data:
        type: json-parser
        title: 解析接收路由
        desc: ''
        input_selector:
        - route_llm
        - text
        is_flatten_output: true
        outputs:
          need_record_update:
            type: string
          need_analysis:
            type: string
          need_advice:
            type: string
          entity_name:
            type: string
          priority:
            type: string
        error_strategy: default-value
        default_value:
        - key: need_record_update
          type: string
          value: ''
        - key: need_analysis
          type: string
          value: ''
        - key: need_advice
          type: string
          value: ''
        - key: entity_name
          type: string
          value: ''
        - key: priority
          type: string
          value: ''
        retry_config:
          enable: false
          max_times: 3
          interval: 1000
        isInLoop: false
        isInIteration: false
    - id: assign_entity
      type: custom
      position:
        x: 1040
        y: 260
      width: 280
      height: 92
      data:
        type: assigner
        title: 保存实体
        desc: ''
        version: '2'
        items:
        - variable_selector:
          - conversation
          - entity_name
          input_type: variable
          operation: over-write
          value:
          - route_parser
          - entity_name
        isInLoop: false
        isInIteration: false
    - id: record_branch
      type: custom
      position:
        x: 1380
        y: 260
      width: 280
      height: 92
      data:
        type: if-else
        title: 记录更新分支
        desc: ''
        cases:
        - case_id: update
          conditions:
          - id: condition_need_record_update
            key: need_record_update
            variable_selector:
            - route_parser
            - need_record_update
            comparison_operator: contains
            value: 'yes'
            varType: string
          logical_operator: and
        targetBranches:
        - id: update
          name: 更新记录
        - id: 'false'
          name: 其他
    - id: doc_extract_node
      type: custom
      position:
        x: 1720
        y: 100
      width: 280
      height: 92
      data:
        type: document-extractor
        title: 文档抽取
        desc: ''
        variable_selector:
        - sys
        - files
        is_array_file: true
        isInLoop: false
        isInIteration: false
    - id: entity_llm
      type: custom
      position:
        x: 2040
        y: 100
      width: 280
      height: 92
      data:
        type: llm
        title: 抽取记录事实
        desc: ''
        variables: []
        model:
          provider: openai
          name: gpt-4o
          mode: chat
          completion_params:
            response_format: json_object
        prompt_template:
        - role: system
          text: 从当前消息和已抽取的文档文本中提取可沉淀事实、风险指标和缺失字段。仅返回 JSON。
        - role: user
          text: |-
            消息：{{#sys.query#}}
            文档：{{#doc_extract_node.text#}}
        prompt_config:
          jinja2_variables: []
        vision:
          enabled: false
        structured_output_enabled: false
        reasoning_format: tagged
        isInLoop: false
        isInIteration: false
    - id: entity_parser
      type: custom
      position:
        x: 2360
        y: 100
      width: 280
      height: 92
      data:
        type: json-parser
        title: 解析记录事实
        desc: ''
        input_selector:
        - entity_llm
        - text
        is_flatten_output: true
        outputs:
          summary:
            type: string
          risk_level:
            type: string
          next_owner:
            type: string
        error_strategy: default-value
        default_value:
        - key: summary
          type: string
          value: ''
        - key: risk_level
          type: string
          value: ''
        - key: next_owner
          type: string
          value: ''
        retry_config:
          enable: false
          max_times: 3
          interval: 1000
        isInLoop: false
        isInIteration: false
    - id: time_node
      type: custom
      position:
        x: 2680
        y: 100
      width: 280
      height: 92
      data:
        type: tools
        title: 当前时间
        desc: ''
        provider_id: time
        provider_type: builtin
        tool_name: current_time
        tool_parameters:
          format:
            type: constant
            value: "%Y-%m-%d %H:%M:%S"
          timezone:
            type: constant
            value: Asia/Shanghai
        isInLoop: false
        isInIteration: false
    - id: sql_write_node
      type: custom
      position:
        x: 3000
        y: 100
      width: 280
      height: 92
      data:
        type: sql-generator
        title: SQL 生成
        desc: ''
        data:
          model:
            provider: ''
            name: ''
            mode: chat
            completion_params: {}
          data_source:
            source:
              id: configure-data-source
              name: 配置数据源
              schema: public
              type: postgres
            tables:
            - id: configure-table
              label: business_records
              name: business_records
              schema: public
              table_id: 0
              columns:
              - id
              - status
              - owner
              - priority
              - updated_at
          prompt: 根据实体 {{#conversation.entity_name#}}、摘要 {{#entity_parser.summary#}}
            和风险等级 {{#entity_parser.risk_level#}} 生成 INSERT 或 UPDATE SQL 语句。
          execution:
            timeout_seconds: 60
            max_retries: 3
        isInLoop: false
        isInIteration: false
    - id: record_db_node
      type: custom
      position:
        x: 3320
        y: 100
      width: 280
      height: 92
      data:
        type: call-database
        title: 数据库查询
        desc: ''
        data:
          data_source:
            id: configure-data-source
            name: 配置数据源
            schema_name: public
            type: postgres
          table_selection:
          - id: configure-table
            label: business_records
            name: business_records
            schema: public
            table_id: 0
            columns:
            - id
            - status
            - owner
            - priority
            - updated_at
          manual_sql: "{{#sql_write_node.sql#}}"
          execution:
            timeout_seconds: 30
            max_retries: 0
        isInLoop: false
        isInIteration: false
    - id: knowledge_node
      type: custom
      position:
        x: 1720
        y: 420
      width: 280
      height: 92
      data:
        type: knowledge-retrieval
        title: 知识检索
        desc: ''
        query_variable_selector:
        - sys
        - query
        dataset_ids:
        - configure-dataset
        retrieval_mode: multiple
        multiple_retrieval_config:
          top_k: 6
          reranking_enable: false
          score_threshold: 0.2
          reranking_mode: reranking_model
          reranking_model:
            provider: ''
            model: ''
        isInLoop: false
        isInIteration: false
    - id: advice_llm
      type: custom
      position:
        x: 3000
        y: 420
      width: 280
      height: 92
      data:
        type: llm
        title: 生成运营建议
        desc: ''
        variables: []
        model:
          provider: openai
          name: gpt-4o
          mode: chat
          completion_params: {}
        prompt_template:
        - role: system
          text: 结合路由上下文、知识和记录状态，生成下一步动作、风险和负责人建议。
        - role: user
          text: |-
            实体：{{#conversation.entity_name#}}
            优先级：{{#route_parser.priority#}}
            知识：{{#knowledge_node.result#}}
            记录行：{{#record_db_node.rows#}}
        prompt_config:
          jinja2_variables: []
        vision:
          enabled: false
        structured_output_enabled: false
        reasoning_format: tagged
        isInLoop: false
        isInIteration: false
    - id: answer_node
      type: custom
      position:
        x: 3360
        y: 420
      width: 280
      height: 88
      data:
        type: answer
        title: 回复
        desc: ''
        variables: []
        answer: "{{#advice_llm.text#}}"
        isInLoop: false
        isInIteration: false
    edges:
    - id: start_node-source-route_llm
      source: start_node
      target: route_llm
      sourceHandle: source
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    - id: route_llm-source-route_parser
      source: route_llm
      target: route_parser
      sourceHandle: source
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    - id: route_parser-source-assign_entity
      source: route_parser
      target: assign_entity
      sourceHandle: source
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    - id: assign_entity-source-record_branch
      source: assign_entity
      target: record_branch
      sourceHandle: source
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    - id: record_branch-update-doc_extract_node
      source: record_branch
      target: doc_extract_node
      sourceHandle: update
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    - id: doc_extract_node-source-entity_llm
      source: doc_extract_node
      target: entity_llm
      sourceHandle: source
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    - id: entity_llm-source-entity_parser
      source: entity_llm
      target: entity_parser
      sourceHandle: source
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    - id: entity_parser-source-time_node
      source: entity_parser
      target: time_node
      sourceHandle: source
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    - id: time_node-source-sql_write_node
      source: time_node
      target: sql_write_node
      sourceHandle: source
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    - id: sql_write_node-source-record_db_node
      source: sql_write_node
      target: record_db_node
      sourceHandle: source
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    - id: record_db_node-source-advice_llm
      source: record_db_node
      target: advice_llm
      sourceHandle: source
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    - id: record_branch-false-knowledge_node
      source: record_branch
      target: knowledge_node
      sourceHandle: 'false'
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    - id: knowledge_node-source-advice_llm
      source: knowledge_node
      target: advice_llm
      sourceHandle: source
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    - id: advice_llm-source-answer_node
      source: advice_llm
      target: answer_node
      sourceHandle: source
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    viewport:
      x: 0
      y: 0
      zoom: 0.8
