web/public/templates/agents/zh-Hans/support-triage-chatflow.yml
---
kind: app
version: 1.0.0
exported_from: zgi
exported_at: '2026-05-15T00:00:00Z'
app:
  name: 服务请求分流
  description: 识别用户请求类型，并路由到合适的响应路径。
  icon: '{"icon":"ST","icon_background":"#0284c7"}'
  icon_type: text
  mode: CONVERSATIONAL_WORKFLOW
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    opening_statement_type: slogan
    opening_slogan: ''
    opening_statement: ''
    opening_statement_enabled: false
    suggested_questions:
    - "客户反馈生产 API 连续 30 分钟超时，影响结账，请判断应该走紧急还是标准处理路径。"
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      voice: ''
      language: ''
    speech_to_text:
      enabled: false
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    conversation_history:
      enabled: true
      history_window_size: 6
    file_upload:
      enabled: false
      allowed_file_types:
      - image
      - document
      allowed_file_extensions:
      - jpg
      - jpeg
      - png
      - gif
      - webp
      - pdf
      - doc
      - docx
      - txt
      - md
      - csv
      - xlsx
      allowed_file_upload_methods:
      - local_file
      - remote_url
      number_limits: 5
    webapp_workflow_config:
      allow_view_run_detail: true
      auto_expand_run_detail: false
  graph:
    nodes:
    - id: note_runtime_guide
      type: note
      position:
        x: 80
        y: 40
      width: 520
      height: 240
      data:
        type: note
        title: 运行说明
        desc: ''
        text: |-
          运行说明

          可运行。依赖：Qwen qwen3.6-plus 模型。输入一条服务请求，流程会判断紧急或标准路径。

          调试输入：
          可在右侧调试窗口直接输入：
          客户反馈生产 API 连续 30 分钟超时，影响结账，请判断应该走紧急还是标准处理路径。
          也可以点击建议问题开始调试。

          该备注仅用于说明，不参与执行。
        theme: blue
        isInLoop: false
        isInIteration: false
    - id: start_node
      type: custom
      position:
        x: 80
        y: 280
      width: 280
      height: 88
      data:
        type: start
        title: 开始
        desc: 智能体入口节点
        variables: []
        unique: true
        isInLoop: false
        isInIteration: false
    - id: route_llm
      type: custom
      position:
        x: 420
        y: 280
      width: 280
      height: 92
      data:
        type: llm
        title: 请求分类
        desc: ''
        variables: []
        model:
          provider: qwen
          name: qwen3.6-plus
          mode: chat
          completion_params:
            response_format: json_object
        prompt_template:
        - role: system
          text: 将最新请求分类为 urgent 或 standard。仅返回 JSON，字段为 route 和 reason。route 必须使用英文值
            urgent 或 standard。
        - role: user
          text: "{{#sys.query#}}"
        prompt_config:
          jinja2_variables: []
        vision:
          enabled: false
        structured_output_enabled: false
        reasoning_format: tagged
        isInLoop: false
        isInIteration: false
    - id: route_parser
      type: custom
      position:
        x: 740
        y: 280
      width: 280
      height: 92
      data:
        type: json-parser
        title: 解析路由
        desc: ''
        input_selector:
        - route_llm
        - text
        is_flatten_output: true
        outputs:
          route:
            type: string
          reason:
            type: string
        error_strategy: default-value
        default_value:
        - key: route
          type: string
          value: ''
        - key: reason
          type: string
          value: ''
        retry_config:
          enable: false
          max_times: 3
          interval: 1000
        isInLoop: false
        isInIteration: false
    - id: route_branch
      type: custom
      position:
        x: 1040
        y: 280
      width: 280
      height: 92
      data:
        type: if-else
        title: 路径分支
        desc: ''
        cases:
        - case_id: urgent
          conditions:
          - id: condition_route
            key: route
            variable_selector:
            - route_parser
            - route
            comparison_operator: contains
            value: urgent
            varType: string
          logical_operator: and
        targetBranches:
        - id: urgent
          name: 紧急
        - id: 'false'
          name: 其他
    - id: urgent_answer
      type: custom
      position:
        x: 1380
        y: 180
      width: 280
      height: 88
      data:
        type: answer
        title: 回复
        desc: ''
        variables: []
        answer: |-
          该请求需要优先处理。原因：{{#route_parser.reason#}}

          建议下一步：升级给对应负责人，并补齐处理所需上下文。
        isInLoop: false
        isInIteration: false
    - id: standard_answer
      type: custom
      position:
        x: 1380
        y: 420
      width: 280
      height: 88
      data:
        type: answer
        title: 回复
        desc: ''
        variables: []
        answer: |-
          该请求可走标准服务路径。原因：{{#route_parser.reason#}}

          建议下一步：确认缺失信息，并按常规流程继续处理。
        isInLoop: false
        isInIteration: false
    edges:
    - id: start_node-source-route_llm
      source: start_node
      target: route_llm
      sourceHandle: source
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    - id: route_llm-source-route_parser
      source: route_llm
      target: route_parser
      sourceHandle: source
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    - id: route_parser-source-route_branch
      source: route_parser
      target: route_branch
      sourceHandle: source
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    - id: route_branch-urgent-urgent_answer
      source: route_branch
      target: urgent_answer
      sourceHandle: urgent
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    - id: route_branch-false-standard_answer
      source: route_branch
      target: standard_answer
      sourceHandle: 'false'
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    viewport:
      x: 0
      y: 0
      zoom: 0.8
