web/public/templates/agents/zh-Hans/visual-asset-request-workflow.yml
---
kind: app
version: 1.0.0
exported_from: zgi
exported_at: '2026-05-15T00:00:00Z'
app:
  name: 视觉素材生成
  description: 把活动或产品需求转换成图片生成提示词和素材。
  icon: '{"icon":"VA","icon_background":"#c026d3"}'
  icon_type: text
  mode: WORKFLOW
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    opening_statement_type: slogan
    opening_slogan: ''
    opening_statement: ''
    opening_statement_enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      voice: ''
      language: ''
    speech_to_text:
      enabled: false
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    conversation_history:
      enabled: false
      history_window_size: 6
    file_upload:
      enabled: false
      allowed_file_types:
      - image
      - document
      allowed_file_extensions:
      - jpg
      - jpeg
      - png
      - gif
      - webp
      - pdf
      - doc
      - docx
      - txt
      - md
      - csv
      - xlsx
      allowed_file_upload_methods:
      - local_file
      - remote_url
      number_limits: 5
    webapp_workflow_config:
      allow_view_run_detail: true
      auto_expand_run_detail: false
  graph:
    nodes:
    - id: note_runtime_guide
      type: note
      position:
        x: 80
        y: 40
      width: 520
      height: 240
      data:
        type: note
        title: 运行说明
        desc: ''
        text: |-
          运行说明

          需配置。依赖：Qwen qwen3.6-plus 模型、图片模型。先确认图片生成模型可用，再运行素材生成。

          调试输入：
          打开调试面板后，开始节点字段已经预填，可直接运行。
          示例：
          - 素材需求: 为企业 AI 工作流发布创建一张简洁的产品横幅。使用白色工作区、蓝色主操作按钮和简洁的运营界面元素。

          该备注仅用于说明，不参与执行。
        theme: yellow
        isInLoop: false
        isInIteration: false
    - id: start_node
      type: custom
      position:
        x: 80
        y: 280
      width: 280
      height: 88
      data:
        type: start
        title: 开始
        desc: 智能体入口节点
        variables:
        - type: paragraph
          variable: input
          label: 素材需求
          required: true
          max_length: 8192
          default: 为企业 AI 工作流发布创建一张简洁的产品横幅。使用白色工作区、蓝色主操作按钮和简洁的运营界面元素。
        unique: true
        isInLoop: false
        isInIteration: false
    - id: prompt_llm
      type: custom
      position:
        x: 420
        y: 280
      width: 280
      height: 92
      data:
        type: llm
        title: 生成图片提示词
        desc: ''
        variables: []
        model:
          provider: qwen
          name: qwen3.6-plus
          mode: chat
          completion_params: {}
        prompt_template:
        - role: system
          text: 将业务需求转换为精确的图片生成提示词，包含受众、场景、约束和品牌安全的视觉方向。
        - role: user
          text: "{{#start_node.input#}}"
        prompt_config:
          jinja2_variables: []
        vision:
          enabled: false
        structured_output_enabled: false
        reasoning_format: tagged
        isInLoop: false
        isInIteration: false
    - id: image_node
      type: custom
      position:
        x: 760
        y: 280
      width: 280
      height: 92
      data:
        type: image-gen
        title: 图片生成
        desc: ''
        model:
          provider: qwen
          name: qwen-image-2.0
        prompt: "{{#prompt_llm.text#}}"
        prompt_config:
          template_variables: []
        generation:
          n: 1
          size: 1024x1024
          quality: ''
        output:
          lifecycle: persistent
        retry_config:
          enable: false
          max_times: 0
          interval: 0
        error_strategy: fail-branch
        default_value: []
        isInLoop: false
        isInIteration: false
    - id: end_node
      type: custom
      position:
        x: 1100
        y: 280
      width: 280
      height: 64
      data:
        type: end
        title: 结束
        desc: ''
        outputs:
        - variable: image_urls
          type: array[string]
          value_selector:
          - image_node
          - urls
        isInLoop: false
        isInIteration: false
    edges:
    - id: start_node-source-prompt_llm
      source: start_node
      target: prompt_llm
      sourceHandle: source
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    - id: prompt_llm-source-image_node
      source: prompt_llm
      target: image_node
      sourceHandle: source
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    - id: image_node-source-end_node
      source: image_node
      target: end_node
      sourceHandle: source
      targetHandle: target
      type: custom
      data:
        isInLoop: false
        sourceType: default
        targetType: default
        isInIteration: false
    viewport:
      x: 0
      y: 0
      zoom: 0.8
